div.App {
  display: flex;
  flex-direction: row;
  height: 97vh;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
}

div.Card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 200px;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto;
  width: -webkit-fill-available;
}

div.Card p.detail {
  white-space: pre-line;
}

div.Card h1 {
  margin-top: 0;
}

div.App img.arrow {
  max-width: 45px;
  max-height: 45px;
  padding: 0 10px;
  opacity: 0.6;
  transition: 0.6s;
}

div.App img.arrow:hover {
  opacity: 1;
  cursor: pointer;
}