div.App {
  display: flex;
  flex-direction: column;
  height: 97vh;
  justify-content: center;
}

div.Card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 200px;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto;
  width: -webkit-fill-available;
}

div.Card p.detail {
  white-space: pre-line;
}

div.Card h1 {
  margin-top: 0;
}

button.next-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 0 25px;
}