/* ================ POSITIONING =================== */
div.row.grid-view {
  margin: 5em 15px;
}

div.Flip.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
}

div.info-holder {
  width: 100%;
}

div.Card {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto;
  width: -webkit-fill-available;
}

div.Card h1 {
  margin-top: 0;
}

div.Flip img.arrow {
  max-width: 45px;
  max-height: 45px;
  padding: 0 10px;
  opacity: 0.6;
  transition: 0.6s;
}

div.filter-area {
  margin: 8em 0 0 0;
  text-align: center;
}

div.filter-toggle-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.tile-modal {
  position: fixed;
  max-width: 720px;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* ================ STYLING =============== */

html, body, div.App {
  background-color: #222 !important;
  color: white;
}

div.Card {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

div.Card p.detail, div.extra-info p.example {
  white-space: pre-line;
}

div.Flip img.arrow:hover {
  opacity: 1;
  cursor: pointer;
}

div.extra-info li {
  list-style-type: none;
  margin-top: 5px;
}

div.extra-info p {
  margin-bottom: 0;
}

div.filter-toggle-group button.active {
  color: #080808;
  background-color: white;
}

div.info-holder p.label {
  text-align: center;
}

button.btn.btn-inverse {
  background-color: #080808;
  color: white;
  border: solid 1px white;
  border-radius: 0px;
  transition: 0.3s;
}

button.btn.btn-inverse:hover {
  color: #080808;
  background-color: white;
}

button.btn.btn-inverse:focus {
  outline-width: 0;
}

div.tile {
  border: solid white 1px;
  cursor: pointer;
  transition: 0.3s;
}

div.tile:hover {
  background-color: #080808;
}

div.tile-modal {
  z-index: 10;
  background-color: #080808;
  border: solid white 1px;
  padding: 0 20px 20px 20px;
  white-space: pre-line;
}

div.tile-modal > img.close-modal-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  cursor: pointer;
  transition: 0.3s;
  filter: brightness(0.8);
}

div.tile-modal > img.close-modal-button:hover {
  filter: brightness(1);
}

a {
  color: white !important; 
  opacity: 0.7;
  transition: 0.3s;
}

a:hover {
  color: white !important;
  opacity: 1;
}

p.loading {
  margin-top: 6em;
  font-size: large;
  text-align: center;
}

div.leave-review {
  margin-top: 25px;
}

div.leave-review > input[type="number"] {
  margin-right: 25px;
  background-color: rgba(0,0,0,0);
  outline-width: 0;
  border: none;
  border-bottom: solid white 2px;
  color: white;
  width: 150px;
}